.info-tabs {
  padding-bottom: 120px;

  @include mq("tablet-2") {
    padding-bottom: 80px;
  }

  @include mq("tablet") {
    padding-bottom: 45px;
  }

  &__wrapper {
    max-width: 690px;
    margin: 0 auto;
  }

  &__nav {
    display: flex;
    margin-bottom: 30px;
    overflow-x: auto;
    padding: 2px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 60px;

      @include mq("tablet") {
        margin-right: 30px;
      }
    }
  }

  &__btn {
    font-size: 24px;
    color: $darkBlue-900;
    transition: color 0.3s ease-in-out;
    white-space: nowrap;

    @include mq("tablet") {
      font-size: 20px;
    }

    &--active {
      color: $orange-900;
    }

    &:hover {
      color: $orange-900;
    }

    &:focus {
      outline: 2px solid rgba(255, 104, 56, 0.7);
      border-radius: 5px;
    }

    &:active {
      color: $darkBlue-900;
      text-shadow: 2px 2px 5px rgb(49 53 43 / 50%);
      outline: transparent;
    }
  }

  &__content {
    display: none;

    &--description {
      p:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &--characteristics {
      li {
        font-weight: 500;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        span {
          font-weight: 400;
        }
      }
    }

    &--active {
      display: block;
    }
  }
}

.reviews-tabs {
  &__list {
    margin-bottom: 60px;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 30px;

    @include mq("tablet") {
      font-size: 20px;
    }
  }

  &__item {
    border-bottom: 1px solid $silver-300;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

.review-tabs {
  padding-bottom: 20px;
  color: $gray-800;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    @include mq("phone") {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__wrapper {
    display: flex;
    margin-right: auto;
    align-items: center;

    @include mq("phone") {
      margin-bottom: 15px;
    }
  }

  &__client-img {
    border-radius: 50%;
    margin-right: 25px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  &__date {
    font-size: 18px;
    line-height: 1.3;
  }

  &__text {
    @include line-clamp(10);
  }
}

.form {
  margin-bottom: 15px;

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 30px;
  }

  &__raiting {
    display: flex;
    margin-bottom: 20px;
  }

  &__raiting-title {
    margin-right: 15px;
  }

  &__inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    @include mq("phone") {
      flex-direction: column;
    }
  }

  &__review {
    @include mq("phone") {
      margin-bottom: 20px;
    }
  }

  &__name {
    margin-bottom: 10px;
  }

  &__label {
    display: block;
    margin-bottom: 15px;
    line-height: 1.3;
    color: $gray-800;
  }

  &__textarea {
    min-width: 400px;
    resize: vertical;
    min-height: 165px;
    display: block;
    border: 1px solid $gray;
    border-radius: 5px;
    line-height: 1.3;

    &::placeholder {
      color: $gray;
      transition: color 0.3s ease-in-out;
    }

    &:focus {
      outline: 2px solid $orange-900;
      border-color: transparent;
    }

    &:hover::placeholder {
      color: $darkBlue-900;
    }
  }

  &__input {
    padding: 17px;
    font-size: 16px;

    display: block;

    @include mq("phone") {
      min-width: 100%;
    }
  }

  &__save {
    display: block;
    margin-bottom: 30px;
    position: relative;
    font-size: 18px;
    line-height: 1.3;

    .custom-checkbox__checkbox {
      left: 0;
      top: -1px;
      background-color: $white;
    }
  }

  .button {
    font-size: 18px;
  }
}
