body {
  position: relative;
  font-family: "Rubik", "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  background-color: $silver-100;
  color: $dark;

  @include mq("phone") {
    font-size: 16px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0);
    pointer-events: none;
    z-index: 11;
    transition: background-color 0.3s ease;
  }

  &.no-scroll {
    overflow: hidden;
    &::before {
      background-color: rgba($color: #000000, $alpha: 0.66);
      pointer-events: auto;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.3;
  font-weight: 500;

  @include mq("phone") {
    font-size: 24px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  color: $white;
  font-size: 18px;
  line-height: 1.3;
  padding: 12px 32px;
  background-color: $orange-900;
  border-radius: 6px;
  outline: 2px solid transparent;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, outline 0.3s ease-in-out;

  @include mq("phone") {
    font-size: 14px;
  }

  &:focus {
    color: $orange-900;
    background-color: rgba($color: $orange-900, $alpha: 0.1);
    outline: 2px solid rgba($color: $orange-900, $alpha: 0.7);
  }

  &:hover {
    color: $orange-900;
    background-color: $white;
    outline: 2px solid rgba($color: $orange-900, $alpha: 0.7);
  }

  &:active {
    outline: transparent;
    background-color: rgba($color: $orange-900, $alpha: 0.1);
  }
}

.show-more {
  display: inline-block;
  position: relative;
  color: $darkBlue-900;
  border-radius: 5px;
  transition: color 0.3s ease-in-out;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 6px;
    height: 1px;
    background-color: $darkBlue-900;
    transition: background-color 0.3s ease-in-out;
  }

  &:focus {
    outline: 2px solid rgba($color: $orange-900, $alpha: 0.7);
  }

  &:hover {
    color: $orange-900;

    &:after {
      background-color: transparent;
    }
  }

  &:active {
    color: $darkBlue-900;
    text-shadow: 2px 2px 5px rgba($color: $dark, $alpha: 0.5);
    outline: transparent;
  }
}

.link-effects {
  &:focus {
    outline: 2px solid rgba($color: $orange-900, $alpha: 0.7);
    border-radius: 5px;
  }

  &:hover {
    color: $orange-900;
  }

  &:active {
    color: $dark;
    text-shadow: 2px 2px 5px rgba($color: $dark, $alpha: 0.5);
    outline: transparent;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 210px;
  min-height: 100%;
  padding: 20px 15px;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  background-color: $white;
  box-shadow: 0 0 0 1px $silver-200;
  outline: 2px solid transparent;
  transition: outline 0.3s ease-in-out;

  &:hover {
    outline: 2px solid rgba($color: $orange-900, $alpha: 0.7);
  }

  &__link {
    padding-bottom: 10px;
    margin-bottom: auto;
  }

  &__image {
    margin: 0 auto 10px;
    object-fit: contain;
  }

  &__text {
    font-size: 15px;
    line-height: 1.2;
    min-height: 36px;
    font-weight: 400;
    @include line-clamp(2);
  }

  &__price {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  &__add {
    font-size: 14px;
    line-height: 1.3;
    max-width: 100px;
    padding: 7px 13px;
    margin: 0 auto;
    border-radius: 5px;
  }
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 3px 15px rgba($color: $orange-900, $alpha: 0.5);
  }
  &__image {
    margin-bottom: 15px;
    border-radius: 10px 10px 0 0;
    object-fit: fill;
  }

  &__name {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.3;
    margin: 0 20px 20px;
    @include line-clamp(2);
  }

  &__timetable {
    font-weight: 300;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 22px 22px;
    padding-left: 32px;
    margin: 0 20px;
    font-size: 18px;
    line-height: 1.7;
  }

  &__icon {
    width: 14px;
    height: 12px;
    color: $white;
    position: absolute;
    right: 30px;
    top: 11px;
    transition: right 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  &__link {
    position: absolute;
    width: 73px;
    height: 33px;
    background-color: $orange-900;
    border-radius: 10px;
    right: 20px;
    bottom: 20px;
    border-radius: 20px;
    outline: 2px solid transparent;
    transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out, justify-content 0.3s ease-in-out;

    &:focus {
      background-color: rgba($color: $orange-900, $alpha: 0.1);
      outline: 2px solid rgba($color: $orange-900, $alpha: 0.7);

      .restaurant-card__icon {
        color: $orange-900;
      }
    }

    &:hover {
      background-color: $white;
      outline: 2px solid rgba($color: $orange-900, $alpha: 0.7);

      .restaurant-card__icon {
        color: $orange-900;
        right: 12px;
      }
    }

    &:active {
      outline: transparent;
      background-color: rgba($color: $orange-900, $alpha: 0.1);

      .restaurant-card__icon {
        right: 32px;
      }
    }
  }
}

.logo {
  display: block;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;

  &:focus {
    outline: 2px solid rgba($color: $orange-900, $alpha: 0.7);
    border-radius: 3px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
    outline: transparent;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $silver-100;

  .header-nav {
    @include mq("tablet") {
      display: none;
    }
  }

  &__list {
    display: flex;
    margin: 0 55px 0 auto;
    font-size: 18px;
    line-height: 1.2;
  }

  &__item:not(:last-child) {
    margin-right: 45px;
  }

  &__link {
    transition: color 0.25s ease-in-out, text-shadow 0.1s ease-in-out;

    &--active {
      color: $orange-900;
    }
  }
}

.burger {
  display: none;
  width: 30px;
  height: 20px;
  margin-right: 7px;
  position: relative;
  color: $darkBlue-900;
  cursor: pointer;
  position: relative;

  @include mq("tablet") {
    display: block;
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - 2px);
  }

  &--active &__line {
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
  }

  &--active::before {
    transform: rotate(45deg);
    top: 50%;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &--active::after {
    transform: rotate(-45deg);
    top: 50%;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }
}

.mobile-menu {
  display: none;
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  right: 75px;
  bottom: 0;
  padding: 25px 0;
  background-color: $white;
  transform: translateX(-150%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  @include mq("tablet") {
    display: block;
  }

  &--active {
    transform: translateX(0);
  }

  &__logo {
    display: inline-block;
    margin-bottom: 25px;
  }

  &__burger {
    position: absolute;
    right: 26px;
    top: 35px;
    margin: 0;
  }

  .mobile-nav {
    flex-direction: column;
    padding: 25px 0;
    margin: 0 0 15px 0;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;

    :not(:last-child) {
      margin-bottom: 20px;
    }

    &__item {
      padding: 0 15px;
      margin-right: 0;
    }

    &__link {
      display: block;
    }
  }
}

.contacts {
  @include mq("tablet") {
    margin-bottom: 30px;
  }

  &__info {
    margin-bottom: 15px;
  }

  &__item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: $dark;
    transition: color 0.3s ease-in-out;
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 2;
    background-repeat: no-repeat;
    background-position: center left;
    border-radius: 5px;
    transition: color 0.3s ease-in-out;


    &:hover {

      .contacts__icon {
        color: $orange-900;
      }
    }

    &:active {

      .contacts__icon {
        color: $dark;
      }
    }
  }
}

.social {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-bottom: 13px;
  }

  &__item:not(:last-child) {
    margin-right: 13px;
  }

  &__link {
    position: relative;
    display: block;
    height: 39px;
    width: 39px;
    background-color: $silver-200;
    border-radius: 50%;
    outline: 2px solid transparent;
    transition: outline 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &:focus {
      background-color: rgba($color: $orange-900, $alpha: 0.1);
      outline: 2px solid rgba($color: $orange-900, $alpha: 0.7);
    }

    &:hover {
      background-color: $orange-900;

      .social__link-icon {
        background-color: $white;
      }
    }

    &:active {
      outline: transparent;
      background-color: rgba($color: $orange-900, $alpha: 0.1);

      .social__link-icon {
        background-color: $orange-900;
      }
    }
  }

  &__link-icon {
    display: block;
    height: 100%;
    background-color: $dark;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 20px 20px;
    transition: background-color 0.25s ease;
  }
}

.swipers__pagination {
  max-width: max-content;
  margin: 0 auto;
  font-size: 24px;
}

.swipers__pagination-bullet {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: $gray;
  opacity: 1;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &:not(:last-child) {
    margin-right: 15px;
  }

  &--active {
    background-color: $orange-900;
  }

  &:focus {
    outline: 2px solid rgba($color: $orange-900, $alpha: 0.7);
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    background-color: $orange-900;
    opacity: 0.7;
    outline: transparent;
  }
}
