@import "reset";
@import "fonts";
@import "vars";
@import "global";

.hero {
  padding-top: 159px;

  @include mq("tablet-2") {
    padding-top: 114px;
  }

  @include mq("phone") {
    padding-top: 73px;
  }

  &__inner {
    display: flex;
    align-items: center;
    margin-bottom: 120px;
    width: 100%;
    @include responsive-ratio(10, 1.33);
    background-size: 560px calc(min(660px, 100%));
    background-repeat: no-repeat;
    background-position: right top;
    position: relative;

    &::after {
      content: "";
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: 560px calc(min(660px, 100%));
      background-repeat: no-repeat;
      background-position: right top;
      background-color: rgba($color: $silver-100, $alpha: 0.85);
    }

    @include mq("tablet") {
      margin-bottom: 80px;
      justify-content: center;

      &::after {
        display: block;
      }
    }

    @include mq("phone") {
      margin-bottom: 40px;
      background-size: 254px calc(min(300px, 100%));
      padding: 25px 0;
    }
  }

  &__contant {
    position: relative;
    z-index: 1;
    border-radius: 5px;
    padding-right: 10px;
    background-color: rgba($color: $silver-100, $alpha: 0.85);

    @include mq("tablet") {
      background-color: transparent;
    }
  }

  &__title {
    color: $darkBlue-900;
    font-size: 66px;
    line-height: 1.3;
    font-weight: 500;
    text-transform: uppercase;
    max-width: 450px;
    margin-bottom: 20px;

    @include mq("phone") {
      font-size: 40px;
      max-width: 257px;
    }
  }

  &__subtitle {
    color: $orange-900;
  }

  &__text {
    max-width: 450px;
    margin-bottom: 20px;

    @include mq("phone") {
      max-width: 345px;
    }
  }

  &__button {
    margin-right: 34px;

    @include mq("phone") {
      padding: 8px 24px;
      border-radius: 3px;
    }
  }
}

.categories {
  margin-bottom: 120px;

  @include mq("tablet") {
    margin-bottom: 80px;
  }

  @include mq("phone") {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 60px;
    text-align: center;

    @include mq("phone") {
      margin-bottom: 30px;
    }
  }

  &__sorting {
    display: flex;
    margin-bottom: 25px;
    padding: 2px 2px 20px 2px;
    overflow-x: auto;
    position: relative;

    @include mq("tablet-2") {
      padding-bottom: 2px;
      margin-bottom: 30px;
    }

    &::-webkit-scrollbar {
      height: 20px;

      @include mq("tablet-2") {
        display: none;
      }
    }

    &::-webkit-scrollbar-track {
      box-shadow: 0 0 0 1px $silver-200;
      border-radius: 20px;
      background: $white;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($color: $orange-900, $alpha: 0.1);
      border-radius: 20px;
      border: 3px solid $orange-900;
    }
  }

  &__group:not(:last-child) {
    margin-right: 20px;

    @include mq("phone") {
      margin-right: 10px;
    }
  }

  &__icon {
    width: 44px;
    height: 44px;
    transition: color 0.3s ease-in-out;
    margin-right: 10px;

    @include mq("phone") {
      width: 20px;
      height: 20px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    padding: 13px 32px;
    border-radius: 5px;
    white-space: nowrap;
    background-color: $white;
    box-shadow: 0 0 0 1px $silver-200;
    outline: 2px solid transparent;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, outline 0.3s ease-in-out;

    @include mq("phone") {
      padding: 11px 16px;
      font-size: 14px;
      line-height: 1.3;
    }

    &--active {
      background-color: $orange-900;
      color: $white;
      .categories__icon {
        color: $white;
      }
    }

    &:focus {
      outline: 2px solid rgba($color: $orange-900, $alpha: 0.7);
    }

    &:hover {
      color: $orange-900;
      background-color: rgba($color: $orange-900, $alpha: 0.1);
      outline: 2px solid rgba($color: $orange-900, $alpha: 0.7);

      .categories__icon {
        color: $orange-900;
      }
    }

    &:active {
      color: $darkBlue-900;
      background-color: rgba($color: $orange-900, $alpha: 0.1);
      outline: transparent;
      .categories__icon {
        color: $darkBlue-900;
      }
    }
  }

  &__items {
    display: none;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin-bottom: 60px;
    &--active {
      display: grid;

      @include mq("tablet") {
        grid-row-gap: 15px;
        grid-column-gap: 10px;
        margin-bottom: 30px;
        grid-template-columns: repeat(4, 1fr);
      }

      @include mq("phone") {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__show-more {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    @include mq("phone") {
      font-size: 20px;
    }
  }
}

.delivery {
  position: relative;
  margin-bottom: 120px;

  @include mq("tablet") {
    margin-bottom: 80px;
  }

  @include mq("phone") {
    margin-bottom: 40px;
  }

  &__inner {
    display: flex;
    justify-content: end;
    max-width: 100%;
    margin: 0 70px;
    padding: 60px 0;
    @include responsive-ratio(10, 0.55);
    background-size: 440px calc(min(585px, 100%));
    background-repeat: no-repeat;
    background-position: left top;

    &::after {
      content: "";
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($color: $silver-100, $alpha: 0.85);
    }

    @include mq("tablet-2") {
      margin: 0;
    }

    @include mq("tablet") {
      background-position: top center;

      &::after {
        display: block;
      }
    }

    @include mq("phone") {
      padding: 25px 0;
      background-size: 348px calc(min(462px, 100%));
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    max-width: 470px;
    padding-left: 10px;
    border-radius: 5px;
    background-color: rgba($color: $silver-100, $alpha: 0.85);

    @include mq("tablet") {
      margin: 0 auto;
      background-color: transparent;
    }

    :not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .delivery__dignity {
    margin-bottom: 20px;
  }

  &__item {
    font-size: 24px;
    display: flex;
    align-items: center;

    @include mq("phone") {
      font-size: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @include mq("phone") {
        margin-bottom: 15px;
      }
    }
  }

  &__icon {
    width: 31px;
    height: 31px;
    margin-right: 31px;

    &--timer {
      fill: $orange-900;
    }

    &--courier {
      fill: $blue;
    }

    &--restaurent {
      fill: $red;
    }
  }
}

.restaurants {
  margin-bottom: 120px;

  @include mq("tablet") {
    margin-bottom: 80px;
  }

  @include mq("phone") {
    margin-bottom: 40px;
  }

  &__title {
    text-align: center;
    margin-bottom: 45px;

    @include mq("phone") {
      margin-bottom: 30px;
    }
  }

  .restaurants-swiper {
    overflow: visible;

    @include mq("tablet-2") {
      overflow: hidden;
    }

    &__slide {
      display: flex;
      justify-content: center;
    }

    &__wrapper {
      box-sizing: inherit;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 30px;
      grid-column-gap: 30px;
      margin-bottom: 30px;

      @include mq("tablet-2") {
        display: flex;
        grid-column-gap: 0;
      }
    }
  }
}

.reviews {
  margin-bottom: 120px;

  @include mq("tablet") {
    margin-bottom: 80px;
  }

  @include mq("phone") {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 45px;
    text-align: center;

    @include mq("phone") {
      margin-bottom: 30px;
    }
  }

  &__swiper {
    margin: 0 90px;

    @include mq("tablet-2") {
      margin: 0 45px;
    }

    @include mq("phone") {
      margin: 0;
    }
  }

  .reviews-swiper {
    &__nav {
      display: flex;
      justify-content: center;

      @include mq("phone") {
        justify-content: space-between;
        position: absolute;
        top: 33px;
        right: 39px;
        left: 39px;
        z-index: 10;
      }
    }

    &__pagination {
      margin: 0 24px;

      @include mq("phone") {
        display: none;
      }
    }

    &__buttons-icon {
      width: 10px;
      height: 18px;
      color: $gray;
      transition: color 0.3s ease-in-out;
    }

    &__buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 34px;
      height: 34px;
      border: 3px solid $gray;
      border-radius: 50%;
      transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

      &:focus {
        outline: 2px solid rgba($color: $orange-900, $alpha: 0.7);
      }

      &:hover {
        background-color: rgba($color: $orange-900, $alpha: 0.1);
        border-color: rgba($color: $orange-900, $alpha: 0.5);

        .reviews-swiper__buttons-icon {
          color: rgba($color: $orange-900, $alpha: 0.5);
        }
      }

      &:active {
        outline: transparent;
        border-color: transparent;

        .reviews-swiper__buttons-icon {
          color: $orange-900;
        }
      }
    }
  }
}

.reviews-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;

  @include mq("tablet") {
    flex-direction: column;
  }

  @include mq("phone") {
    margin-bottom: 0;
  }

  &__photo {
    border-radius: 50%;
    align-self: flex-start;

    @include mq("tablet") {
      margin: 0 auto 20px;
    }

    @include mq("phone") {
      width: 100px;
      height: 100px;
    }
  }

  &__quote {
    max-width: 650px;
  }

  &__text {
    position: relative;
    padding: 0 40px;
    font-style: italic;
    margin-bottom: 30px;

    @include mq("phone") {
      font-size: 14px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 19px;
      background-image: url("../images/quotation-mark-1.png");
      background-repeat: no-repeat;
      background-position: center;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 24px;
      height: 19px;
      background-image: url("../images/quotation-mark-2.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__autor {
    padding-left: 40px;
  }

  &__title {
    font-weight: 500;
    color: $orange-900;
    margin-bottom: 15px;

    @include mq("phone") {
      font-size: 16px;
      line-height: 1.3;
    }
  }

  &__characteristic {
    font-size: 14px;
  }
}

.mobile {
  margin-bottom: 120px;

  @include mq("tablet") {
    margin-bottom: 80px;
  }

  @include mq("phone") {
    margin-bottom: 40px;
  }

  &__inner {
    background-repeat: no-repeat;
    background-position: top right;
    background-size: calc(min(570px, 50%)) calc(min(380px, 100%));
    display: flex;
    align-items: center;

    @include mq("tablet") {
      background-size: 0;
    }
  }

  &__content {
    padding: 40px 0;
    max-width: 540px;

    @include mq("tablet-2") {
      max-width: 50%;
    }

    @include mq("tablet") {
      max-width: 100%;
      padding: 0;
    }
  }

  &__title {
    margin-bottom: 45px;

    @include mq("phone") {
      margin-bottom: 15px;
    }
  }

  &__text {
    margin-bottom: 30px;

    @include mq("phone") {
      margin-bottom: 15px;
    }
  }

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    display: block;
    transition: opacity 0.3s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;

    &:focus {
      outline: 2px solid rgba($color: $orange-900, $alpha: 0.7);
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
      outline: transparent;
    }
  }
}
