<section class="categories">
  <div class="container">

    <h2 class="title categories__title">
      Популярные категории
    </h2>

    <ul class="categories__sorting">
      <li class="categories__group">
        <button class="categories__btn categories__btn--active" type="button" rel="burgers">
          <svg class="categories__icon">
            <use xlink:href="images/sprite.svg#icon-burger"></use>
          </svg>
          <span class="sr-only">Кнопка выводящая на экран список</span>
          Бургеры
        </button>
      </li>

      <li class="categories__group">
        <button class="categories__btn" type="button" rel="pizza">
          <svg class="categories__icon">
            <use xlink:href="images/sprite.svg#icon-pizza"></use>
          </svg>
          <span class="sr-only">Кнопка выводящая на экран список</span>
          Пицца
        </button>
      </li>

      <li class="categories__group">
        <button class="categories__btn" type="button" rel="sandwiches">
          <svg class="categories__icon">
            <use xlink:href="images/sprite.svg#icon-sandwich"></use>
          </svg>
          <span class="sr-only">Кнопка выводящая на экран список</span>
          Сендвичи
        </button>
      </li>

      <li class="categories__group">
        <button class="categories__btn" type="button" rel="asian">
          <svg class="categories__icon">
            <use xlink:href="images/sprite.svg#icon-asia"></use>
          </svg>
          <span class="sr-only">Кнопка выводящая на экран список</span>
          Азиатская кухня
        </button>
      </li>

      <li class="categories__group">
        <button class="categories__btn" type="button" rel="sets">
          <svg class="categories__icon">
            <use xlink:href="images/sprite.svg#icon-dish"></use>
          </svg>
          <span class="sr-only">Кнопка выводящая на экран список</span>
          Cеты
        </button>
      </li>
    </ul>

    <ul class="categories__items categories__items--active" id="burgers">

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="product.html">
            <img class="product-card__image" src="./images/categories-item-1.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Чизбургер с листьями салата
            </h3>
          </a>
          <span class="product-card__price">160 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="product.html">
            <img class="product-card__image" src="./images/categories-item-2.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Бифбургер
            </h3>
          </a>
          <span class="product-card__price">140 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="product.html">
            <img class="product-card__image" src="./images/categories-item-3.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Королевский чизбургер
            </h3>
          </a>
          <span class="product-card__price">260 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="product.html">
            <img class="product-card__image" src="./images/categories-item-4.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Черный гамбургер
            </h3>
          </a>
          <span class="product-card__price">199 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="product.html">
            <img class="product-card__image" src="./images/categories-item-5.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Чикен бургер
            </h3>
          </a>
          <span class="product-card__price">180 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-1.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Чизбургер с листьями салата
            </h3>
          </a>
          <span class="product-card__price">160 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-2.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Бифбургер
            </h3>
          </a>
          <span class="product-card__price">140 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-3.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Королевский чизбургер
            </h3>
          </a>
          <span class="product-card__price">260 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-4.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Черный гамбургер
            </h3>
          </a>
          <span class="product-card__price">199 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-5.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Чикен бургер
            </h3>
          </a>
          <span class="product-card__price">180 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

    </ul>

    <ul class="categories__items" id="pizza">

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-1.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Чизбургер с листьями салата
            </h3>
          </a>
          <span class="product-card__price">160 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-2.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Бифбургер
            </h3>
          </a>
          <span class="product-card__price">140 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-3.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Королевский чизбургер
            </h3>
          </a>
          <span class="product-card__price">260 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-4.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Черный гамбургер
            </h3>
          </a>
          <span class="product-card__price">199 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-5.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Чикен бургер
            </h3>
          </a>
          <span class="product-card__price">180 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-1.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Чизбургер с листьями салата
            </h3>
          </a>
          <span class="product-card__price">160 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-2.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Бифбургер
            </h3>
          </a>
          <span class="product-card__price">140 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-3.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Королевский чизбургер
            </h3>
          </a>
          <span class="product-card__price">260 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-4.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Черный гамбургер
            </h3>
          </a>
          <span class="product-card__price">199 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

    </ul>

    <ul class="categories__items" id="sandwiches">
      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-1.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Чизбургер с листьями салата
            </h3>
          </a>
          <span class="product-card__price">160 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-2.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Бифбургер
            </h3>
          </a>
          <span class="product-card__price">140 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-3.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Королевский чизбургер
            </h3>
          </a>
          <span class="product-card__price">260 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-4.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Черный гамбургер
            </h3>
          </a>
          <span class="product-card__price">199 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-5.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Чикен бургер
            </h3>
          </a>
          <span class="product-card__price">180 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-1.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Чизбургер с листьями салата
            </h3>
          </a>
          <span class="product-card__price">160 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-2.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Бифбургер
            </h3>
          </a>
          <span class="product-card__price">140 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-3.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Королевский чизбургер
            </h3>
          </a>
          <span class="product-card__price">260 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

    </ul>

    <ul class="categories__items" id="asian">
      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-1.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Чизбургер с листьями салата
            </h3>
          </a>
          <span class="product-card__price">160 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-2.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Бифбургер
            </h3>
          </a>
          <span class="product-card__price">140 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-3.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Королевский чизбургер
            </h3>
          </a>
          <span class="product-card__price">260 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-4.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Черный гамбургер
            </h3>
          </a>
          <span class="product-card__price">199 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-5.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Чикен бургер
            </h3>
          </a>
          <span class="product-card__price">180 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-1.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Чизбургер с листьями салата
            </h3>
          </a>
          <span class="product-card__price">160 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-2.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Бифбургер
            </h3>
          </a>
          <span class="product-card__price">140 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-3.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Королевский чизбургер
            </h3>
          </a>
          <span class="product-card__price">260 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

    </ul>

    <ul class="categories__items" id="sets">
      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-1.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Чизбургер с листьями салата
            </h3>
          </a>
          <span class="product-card__price">160 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-2.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Бифбургер
            </h3>
          </a>
          <span class="product-card__price">140 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-3.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Королевский чизбургер
            </h3>
          </a>
          <span class="product-card__price">260 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-4.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Черный гамбургер
            </h3>
          </a>
          <span class="product-card__price">199 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-5.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Чикен бургер
            </h3>
          </a>
          <span class="product-card__price">180 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-1.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Чизбургер с листьями салата
            </h3>
          </a>
          <span class="product-card__price">160 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-2.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Бифбургер
            </h3>
          </a>
          <span class="product-card__price">140 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-3.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Королевский чизбургер
            </h3>
          </a>
          <span class="product-card__price">260 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-4.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Черный гамбургер
            </h3>
          </a>
          <span class="product-card__price">199 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__product product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__image" src="./images/categories-item-5.png" alt="Фото товара" width="140"
              height="140">
            <h3 class="product-card__text">
              Чикен бургер
            </h3>
          </a>
          <span class="product-card__price">180 <span class="product__currency">грн.</span></span>
          <button class="button product-card__add" type="button">В корзину</button>
        </article>
      </li>

    </ul>

    <button class="show-more categories__show-more" type="button">Показать еще</button>
  </div>
</section>