<section class="delivery">
  <div class="container">

    <div class="delivery__inner" style="background-image:url(images/delivery-bg.png) ;">

      <div class="delivery__content">

        <h2 class="title delivery__title">Оставайтесь дома, а мы позаботимся о еде</h2>

        <div class="delivery__text">
          <p>
            У нас есть вкусная еда и мы готовы доставить её к вам домой! Воспользуйтесь нашей доставкой прямо
            сейчас
            и получите скиидку!
          </p>
        </div>

        <ul class="delivery__dignity">

          <li class="delivery__item">
            <svg class="delivery__icon delivery__icon--timer">
              <use xlink:href="images/sprite.svg#icon-delivery-timer"></use>
            </svg>
            Быстрая доставка за 15 минут
          </li>

          <li class="delivery__item">
            <svg class="delivery__icon delivery__icon--courier">
              <use xlink:href="images/sprite.svg#icon-delivery"></use>
            </svg>
            Вежливые курьеры
          </li>

          <li class="delivery__item">
            <svg class="delivery__icon delivery__icon--restaurent">
              <use xlink:href="images/sprite.svg#icon-resturent"></use>
            </svg>
            Более 500 заведений
          </li>

        </ul>

        <a class="button" href="#">Подробнее</a>

      </div>
    </div>
  </div>
</section>