<section class="restaurants">
  <div class="container">

    <h2 class="title restaurants__title">Лучшие рестораны</h2>

    <div class="swiper-for-mobile restaurants__swiper">

      <div class="swiper-for-mobile__wrapper restaurants__wripper">

        <div class="swiper-for-mobile__slide restaurants-slide">

          <article class="restaurant__card restaurant-card">

            <img class="restaurant-card__image" src="./images/restaurants-image-1.png" alt="Фото ресторанного блюда"
              width="370" height="300">

            <h3 class="restaurant-card__name">Blaze Pizza</h3>

            <span class="restaurant-card__timetable" style="background-image: url('../images/sprite.svg#icon-timer') ;">
              <span class="sr-only">Время работы</span>
              11:00 - 22:00
            </span>

            <a class="restaurant-card__link" href="#">
              <span class="sr-only">Узнать подробности</span>
              <svg class="restaurant-card__icon">
                <use xlink:href="images/sprite.svg#icon-restaurants-link-arrow"></use>
              </svg>
            </a>

          </article>

        </div>

        <div class="swiper-for-mobile__slide restaurants-slide">
          <article class="restaurant__card restaurant-card">

            <img class="restaurant-card__image" src="./images/restaurants-image-2.png" alt="Фото ресторанного блюда"
              width="370" height="300">

            <h3 class="restaurant-card__name">Pizza Runcho</h3>

            <span class="restaurant-card__timetable" style="background-image: url('../images/sprite.svg#icon-timer') ;">
              <span class="sr-only">Время работы</span>
              12:00 - 21:00
            </span>

            <a class="restaurant-card__link" href="#">
              <span class="sr-only">Узнать подробности</span>
              <svg class="restaurant-card__icon">
                <use xlink:href="images/sprite.svg#icon-restaurants-link-arrow"></use>
              </svg>
            </a>

          </article>
        </div>

        <div class="swiper-for-mobile__slide restaurants-slide">
          <article class="restaurant__card restaurant-card">

            <img class="restaurant-card__image" src="./images/restaurants-image-3.png" alt="Фото ресторанного блюда"
              width="370" height="300">

            <h3 class="restaurant-card__name">Pizza Hut</h3>

            <span class="restaurant-card__timetable" style="background-image: url('../images/sprite.svg#icon-timer') ;">
              <span class="sr-only">Время работы</span>
              11:00 - 22:00
            </span>

            <a class="restaurant-card__link" href="#">
              <span class="sr-only">Узнать подробности</span>
              <svg class="restaurant-card__icon">
                <use xlink:href="images/sprite.svg#icon-restaurants-link-arrow"></use>
              </svg>
            </a>

          </article>
        </div>

        <div class="swiper-for-mobile__slide restaurants-slide">
          <article class="restaurant__card restaurant-card">

            <img class="restaurant-card__image" src="./images/restaurants-image-4.png" alt="Фото ресторанного блюда"
              width="370" height="300">

            <h3 class="restaurant-card__name">McDonald`s</h3>

            <span class="restaurant-card__timetable" style="background-image: url('../images/sprite.svg#icon-timer') ;">
              <span class="sr-only">Время работы</span>
              06:00 - 23:00
            </span>

            <a class="restaurant-card__link" href="#">
              <span class="sr-only">Узнать подробности</span>
              <svg class="restaurant-card__icon">
                <use xlink:href="images/sprite.svg#icon-restaurants-link-arrow"></use>
              </svg>
            </a>

          </article>
        </div>

        <div class="swiper-for-mobile__slide restaurants-slide">
          <article class="restaurant__card restaurant-card">

            <img class="restaurant-card__image" src="./images/restaurants-image-5.png" alt="Фото ресторанного блюда"
              width="370" height="300">

            <h3 class="restaurant-card__name">KFC</h3>

            <span class="restaurant-card__timetable" style="background-image: url('../images/sprite.svg#icon-timer') ;">
              <span class="sr-only">Время работы</span>
              06:00 - 23:30
            </span>

            <a class="restaurant-card__link" href="#">
              <span class="sr-only">Узнать подробности</span>
              <svg class="restaurant-card__icon">
                <use xlink:href="images/sprite.svg#icon-restaurants-link-arrow"></use>
              </svg>
            </a>

          </article>
        </div>

        <div class="swiper-for-mobile__slide restaurants-slide ">
          <article class="restaurant__card restaurant-card">

            <img class="restaurant-card__image" src="./images/restaurants-image-6.png" alt="Фото ресторанного блюда"
              width="370" height="300">

            <h3 class="restaurant-card__name">Star Burgers</h3>

            <span class="restaurant-card__timetable" style="background-image: url('../images/sprite.svg#icon-timer') ;">
              <span class="sr-only">Время работы</span>
              09:00 - 21:00
            </span>

            <a class="restaurant-card__link" href="#">
              <span class="sr-only">Узнать подробности</span>
              <svg class="restaurant-card__icon">
                <use xlink:href="images/sprite.svg#icon-restaurants-link-arrow"></use>
              </svg>

            </a>

          </article>
        </div>
      </div>

      <div class="swipers__pagination"></div>

    </div>

  </div>
</section>