<section class="reviews">

  <div class="container">

    <h2 class="title reviews__title">Отзывы клиентов</h2>

    <div class="reviews__swiper reviews-swiper swiper">

      <div class="reviews-swiper__wrapper swiper-wrapper">

        <div class="reviews-swiper__slide swiper-slide reviews-slide">

          <img class="reviews-slide__photo" src="./images/reviews-photo.png" alt="Фото Дарьи" width="300" height="300">

          <figure class="reviews-slide__quote">

            <blockquote class="reviews-slide__text">
              <p>
                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
                приложение. Их
                доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
                однозначно
                рекомендую!
              </p>
            </blockquote>

            <figcaption class="reviews-slide__autor">

              <h3 class="reviews-slide__title">Дарья</h3>
              <span class="reviews-slide__characteristic">Ценитель вкусной еды</span>

            </figcaption>
          </figure>
        </div>

        <div class="reviews-swiper__slide swiper-slide reviews-slide">

          <img class="reviews-slide__photo" src="./images/reviews-photo.png" alt="Фото Дарьи" width="300" height="300">

          <figure class="reviews-slide__quote">

            <blockquote class="reviews-slide__text">
              <p>
                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
                приложение. Их
                доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
                однозначно
                рекомендую!
              </p>
            </blockquote>

            <figcaption class="reviews-slide__autor">

              <h3 class="reviews-slide__title">Дарья</h3>
              <span class="reviews-slide__characteristic">Ценитель вкусной еды</span>

            </figcaption>
          </figure>
        </div>

        <div class="reviews-swiper__slide swiper-slide reviews-slide">

          <img class="reviews-slide__photo" src="./images/reviews-photo.png" alt="Фото Дарьи" width="300" height="300">

          <figure class="reviews-slide__quote">

            <blockquote class="reviews-slide__text">
              <p>
                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
                приложение. Их
                доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
                однозначно
                рекомендую!
              </p>
            </blockquote>

            <figcaption class="reviews-slide__autor">

              <h3 class="reviews-slide__title">Дарья</h3>
              <span class="reviews-slide__characteristic">Ценитель вкусной еды</span>

            </figcaption>
          </figure>
        </div>

        <div class="reviews-swiper__slide swiper-slide reviews-slide">

          <img class="reviews-slide__photo" src="./images/reviews-photo.png" alt="Фото Дарьи" width="300" height="300">

          <figure class="reviews-slide__quote">

            <blockquote class="reviews-slide__text">
              <p>
                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
                приложение. Их
                доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
                однозначно
                рекомендую!
              </p>
            </blockquote>

            <figcaption class="reviews-slide__autor">

              <h3 class="reviews-slide__title">Дарья</h3>
              <span class="reviews-slide__characteristic">Ценитель вкусной еды</span>

            </figcaption>
          </figure>

        </div>
      </div>

      <div class="reviews-swiper__nav">

        <div class="reviews-swiper__buttons reviews-swiper__button--prev">
          <svg class="reviews-swiper__buttons-icon">
            <use xlink:href="images/sprite.svg#icon-swiper-button-prev"></use>
          </svg>
        </div>

        <div class="swipers__pagination reviews-swiper__pagination"></div>

        <div class="reviews-swiper__buttons reviews-swiper__button--next">
          <svg class="reviews-swiper__buttons-icon">
            <use xlink:href="images/sprite.svg#icon-swiper-button-next"></use>
          </svg>
        </div>
      </div>

    </div>
  </div>

</section>