<section class="info-tabs">
  <div class="container">

    <h2 class="sr-only">Информация и отзывы о товаре</h2>

    <ul class="info-tabs__nav">
      <li class="info-tabs__item">
        <button class="info-tabs__btn" type="button">Описание</button>
      </li>
      <li class="info-tabs__item">
        <button class="info-tabs__btn" type="button">Характеристики</button>
      </li>
      <li class="info-tabs__item">
        <button class="info-tabs__btn" type="button">Отзывы <span>(2)</span></button>
      </li>
    </ul>

    <div class="info-tabs__description">
      <p>
        Рубленый бифштекс из натуральной говядины на карамелизованной булочке, с ломтиком сыра «Чеддер», кетчупом,
        горчицей,
        луком и маринованными огурчиками.
      </p>
      <p>
        Аллергены: Глютен, Молоко, Горчица, Может содержать сою, яйцо, следы кунжута
      </p>
      <p>
        Внешний вид товара может отличаться от изображений, представленных на сайте.
      </p>
    </div>

    <ul class="info-tabs__characteristics">
      <li class="info-tabs__characteristic">Диаметр: <span>20 см</span></li>
      <li class="info-tabs__characteristic">Вес: <span>300 гр</span></li>
      <li class="info-tabs__characteristic">Калорийность (на 100г): <span>295 ккал</span></li>
      <li class="info-tabs__characteristic">Срок хранения:<span>до 3 дней</span></li>
    </ul>

    <div class="info-tabs__reviews reviews">
      <h3 class="reviews__title">Мнения наших клиентов</h3>
      <ul class="reviews__list">
        <li class="reviews__item">
          
        </li>
      </ul>
    </div>
  </div>
</section>