<h1 class="sr-only">Страница продукта</h1>

<section class="product">

  <div class="breadcrumbs">

    <div class="container">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="index.html">Главная</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="catalog.html">Каталог товаров</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link">Чизбургер с листьями салата</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="product__wrapper">

      <div class="product__gallery-big product-swiper-big">

        <button class="product-swiper-big__btn" type="button">
          <span class="sr-only">Закрыть галерею</span>
          <svg class="product-swiper-big__btn-icon">
            <use xlink:href="images/sprite.svg#product-swiper-big-btn"></use>
          </svg>

        </button>

        <div class="product-swiper-big__wrapper">

          <div class="product-swiper-big__slide">

            <img class="product-swiper-big__img" src="../images/product-image-big.png" alt="Фото товара">

          </div>
          <div class="product-swiper-big__slide">

            <img class="product-swiper-big__img" src="../images/product-image-big.png" alt="Фото товара">

          </div>
          <div class="product-swiper-big__slide">

            <img class="product-swiper-big__img" src="../images/product-image-big.png" alt="Фото товара">

          </div>

        </div>

        <div class="product-swiper__buttons product-swiper__buttons--prev">
          <span class="sr-only">Предыдущее фото</span>
          <svg class="product-swiper__buttons-icon">
            <use xlink:href="images/sprite.svg#icon-product-prev"></use>
          </svg>
        </div>

        <div class="product-swiper__buttons product-swiper__buttons--next">
          <span class="sr-only">Следующее фото</span>
          <svg class="product-swiper__buttons-icon">
            <use xlink:href="images/sprite.svg#icon-product-next"></use>
          </svg>
        </div>

        <div class="swipers__pagination product-swiper-big__pagination"></div>
      </div>

      <div class="product__gallery-min product-swiper">

        <span class="sr-only">Галерея с фото товара</span>


        <div class="product-swiper__wrapper">

          <div class="product-swiper__slide">

            <img class="product-swiper__img" src="../images/product-image.png" alt="Фото товара">

          </div>

          <div class="product-swiper__slide swiper-slide">

            <img class="product-swiper__img" src="../images/product-image.png" alt="Фото товара">

          </div>

          <div class="product-swiper__slide swiper-slide">

            <img class="product-swiper__img" src="../images/product-image.png" alt="Фото товара">

          </div>

        </div>

        <div class="product-swiper__buttons product-swiper__buttons--prev">
          <span class="sr-only">Предыдущее фото</span>
          <svg class="product-swiper__buttons-icon">
            <use xlink:href="images/sprite.svg#icon-product-prev"></use>
          </svg>
        </div>

        <div class="product-swiper__buttons product-swiper__buttons--next">
          <span class="sr-only">Следующее фото</span>
          <svg class="product-swiper__buttons-icon">
            <use xlink:href="images/sprite.svg#icon-product-next"></use>
          </svg>
        </div>

      </div>
      <div class="product__content">

        <h2 class="title product__title">Чизбургер с листьями салата</h2>

        <button class="raiting" type="button" data-rateyo-rating="4" data-rateyo-read-only="true"><span
            class="sr-only">Рейтинг товара</span></button>

        <span class="product__price">160 грн.</span>

        <div class="product__trade">

          <span class="sr-only">Укажите нужное количество бургеров</span>
          <input class="product__amount" type="number" min="1" value="1">

          <button class="button product__button" type="button">
            <svg class="product__trade-icon">
              <use xlink:href="images/sprite.svg#icon-cart"></use>
            </svg>
            Добавить в корзину</button>
        </div>

        <div class="product__delivery product-delivery">
          <h3 class="product-delivery__title">Доставка и оплата</h3>

          <div class="product-delivery__info">
            <p>Минимальная сумма заказа — 160 грн.</p>
            <p>Время доставки заказа — 80-140 мин.</p>
            <p>Оплата осуществляется только банковской картой.</p>
            <p>Окончательная сумма заказа формируется после сбора товаров.</p>
          </div>

          <a class="show-more" href="#">Подробнее</a>
        </div>

      </div>
    </div>

  </div>
</section>