<h1 class="sr-only">Страница продукта</h1>

<div class="breadcrumbs">
  <div class="container">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="catalog.html">Каталог товаров</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">Чизбургер с листьями салата</a>
      </li>
    </ul>
  </div>
</div>

<section class="product">
  <div class="container">
    <div class="product__wrapper">
<!--       
      <div class="product__gallery-min product-swiper">
  
        <div class="product-swiper__wrapper swiper-wrapper">
  
          <div class="product-swiper__slide swiper-slide">
            <a href="#">
              <img src="../images/product-image.png" alt="">
            </a>
          </div>
  
          <div class="product-swiper__slide swiper-slide">
            <a href="#">
              <img src="../images/product-image.png" alt="">
            </a>
          </div>
          
          <div class="product-swiper__slide swiper-slide">
            <a href="#">
              <img src="../images/product-image.png" alt="">
            </a>
          </div>
  
        </div>
  
        <div class="reviews-swiper__buttons reviews-swiper__button--prev">
          <svg class="reviews-swiper__buttons-icon">
            <use xlink:href="images/sprite.svg#icon-swiper-button-prev"></use>
          </svg>
        </div>
  
        <div class="reviews-swiper__buttons reviews-swiper__button--next">
          <svg class="reviews-swiper__buttons-icon">
            <use xlink:href="images/sprite.svg#icon-swiper-button-next"></use>
          </svg>
        </div>
  
      </div> -->

      <!-- <div class="product__gallery-big product-swiper">

        <div class="product-swiper__wrapper">

          <div class="product-swiper__slide">
            <a href="#">
              <img src="../images/product-image-big.png" alt="">
            </a>
          </div>
          <div class="product-swiper__slide">
            <a href="#">
              <img src="../images/product-image-big.png" alt="">
            </a>
          </div>
          <div class="product-swiper__slide">
            <a href="#">
              <img src="../images/product-image-big.png" alt="">
            </a>
          </div>

        </div>

        <div class="swiper-pagination"></div>
      </div>
    </div> -->

    <div class="product__content">

      <h2 class="title product__title">Чизбургер с листьями салата</h2>

      <button class="product__raiting" type="button" data-rateyo-rating="4"></button>

      <span class="product__price">160 грн.</span>

      <div class="product__trade">
        <input class="product__amount" type="number">
        <button class="button" type="button">Добавить в корзину</button>
      </div>

      <div class="product__delivery delivery">
        <h3 class="delivery__title">Доставка и оплата</h3>

        <div class="delivery__info">
          <p>Минимальная сумма заказа — 160 грн.</p>
          <p>Время доставки заказа — 80-140 мин.</p>
          <p>Оплата осуществляется только банковской картой.</p>
          <p>Окончательная сумма заказа формируется после сбора товаров.</p>
        </div>

        <a class="show-more" href="#">Подробнее</a>
      </div>

    </div>
  </div>


  </div>
</section>