<div class="breadcrumbs">
  <div class="container">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">Каталог товаров</a>
      </li>
    </ul>
  </div>
</div>

<section class="product-catalog">
  <div class="container">
    <div class="product-catalog__top">

      <h2 class="title product-catalog__title">Каталог продуктов</h2>

      <select name="" id="">
        <option value="">По названию</option>
        <option value="">2</option>
        <option value="">3</option>
        <option value="">4</option>
      </select>

      <select name="" id="">
        <option value="">по 12</option>
        <option value="">2</option>
        <option value="">3</option>
        <option value="">4</option>
      </select>

    </div>

    <div class="product-catalog__content">

      <div class="product-catalog__sorting product-sorting">

        <div class="product-sorting__box">

          <h3 class="product-sorting__title">Категории</h3>

          <ul class="product-sorting__list">
            <li class="product-sorting__item">
              <a class="product-sorting__link" href="#">Бургеры</a>
            </li>
            <li class="product-sorting__item">
              <a class="product-sorting__link" href="#">Пицца</a>
            </li>
            <li class="product-sorting__item">
              <a class="product-sorting__link" href="#">Сендвичи</a>
            </li>
            <li class="product-sorting__item">
              <a class="product-sorting__link" href="#">Азиатская кухня</a>
            </li>
            <li class="product-sorting__item">
              <a class="product-sorting__link" href="#">Сеты</a>
            </li>
            <li class="product-sorting__item">
              <a class="product-sorting__link" href="#">Европейская кухня</a>
            </li>
            <li class="product-sorting__item">
              <a class="product-sorting__link" href="#">Напитки</a>
            </li>
            <li class="product-sorting__item">
              <a class="product-sorting__link" href="#">Алкоголь</a>
            </li>
          </ul>

        </div>

        <div class="product-sorting__box">

          <h3 class="product-sorting__title">Предложения</h3>

          <form action="">

            <label for="">Со скидкой</label>
            <input type="checkbox">

            <label for="">Новинка</label>
            <input type="checkbox">

            <label for="">Хит</label>
            <input type="checkbox">

          </form>

        </div>

        <div class="product-sorting__box">

          <h3 class="product-sorting__title">Цена</h3>

          <form action="">

            <label for=""></label>
            <input type="text">

          </form>

        </div>

      </div>

      <div class="product-catalog__products">

        <ul class="product-catalog__products-list">

          <li class="categories__item">
            <article class="categories__product product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__image" src="./images/categories-item-1.png" alt="Фото товара" width="140"
                  height="140">
                <h3 class="product-card__text">
                  Чизбургер с листьями салата
                </h3>
              </a>
              <span class="product-card__price">160 <span class="product__currency">грн.</span></span>
              <button class="button product-card__add" type="button">В корзину</button>
            </article>
          </li>

          <li class="categories__item">
            <article class="categories__product product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__image" src="./images/categories-item-2.png" alt="Фото товара" width="140"
                  height="140">
                <h3 class="product-card__text">
                  Бифбургер
                </h3>
              </a>
              <span class="product-card__price">140 <span class="product__currency">грн.</span></span>
              <button class="button product-card__add" type="button">В корзину</button>
            </article>
          </li>

          <li class="categories__item">
            <article class="categories__product product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__image" src="./images/categories-item-3.png" alt="Фото товара" width="140"
                  height="140">
                <h3 class="product-card__text">
                  Королевский чизбургер
                </h3>
              </a>
              <span class="product-card__price">260 <span class="product__currency">грн.</span></span>
              <button class="button product-card__add" type="button">В корзину</button>
            </article>
          </li>

          <li class="categories__item">
            <article class="categories__product product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__image" src="./images/categories-item-4.png" alt="Фото товара" width="140"
                  height="140">
                <h3 class="product-card__text">
                  Черный гамбургер
                </h3>
              </a>
              <span class="product-card__price">199 <span class="product__currency">грн.</span></span>
              <button class="button product-card__add" type="button">В корзину</button>
            </article>
          </li>

          <li class="categories__item">
            <article class="categories__product product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__image" src="./images/categories-item-5.png" alt="Фото товара" width="140"
                  height="140">
                <h3 class="product-card__text">
                  Чикен бургер
                </h3>
              </a>
              <span class="product-card__price">180 <span class="product__currency">грн.</span></span>
              <button class="button product-card__add" type="button">В корзину</button>
            </article>
          </li>

          <li class="categories__item">
            <article class="categories__product product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__image" src="./images/categories-item-1.png" alt="Фото товара" width="140"
                  height="140">
                <h3 class="product-card__text">
                  Чизбургер с листьями салата
                </h3>
              </a>
              <span class="product-card__price">160 <span class="product__currency">грн.</span></span>
              <button class="button product-card__add" type="button">В корзину</button>
            </article>
          </li>

          <li class="categories__item">
            <article class="categories__product product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__image" src="./images/categories-item-2.png" alt="Фото товара" width="140"
                  height="140">
                <h3 class="product-card__text">
                  Бифбургер
                </h3>
              </a>
              <span class="product-card__price">140 <span class="product__currency">грн.</span></span>
              <button class="button product-card__add" type="button">В корзину</button>
            </article>
          </li>

          <li class="categories__item">
            <article class="categories__product product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__image" src="./images/categories-item-3.png" alt="Фото товара" width="140"
                  height="140">
                <h3 class="product-card__text">
                  Королевский чизбургер
                </h3>
              </a>
              <span class="product-card__price">260 <span class="product__currency">грн.</span></span>
              <button class="button product-card__add" type="button">В корзину</button>
            </article>
          </li>

          <li class="categories__item">
            <article class="categories__product product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__image" src="./images/categories-item-4.png" alt="Фото товара" width="140"
                  height="140">
                <h3 class="product-card__text">
                  Черный гамбургер
                </h3>
              </a>
              <span class="product-card__price">199 <span class="product__currency">грн.</span></span>
              <button class="button product-card__add" type="button">В корзину</button>
            </article>
          </li>

          <li class="categories__item">
            <article class="categories__product product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__image" src="./images/categories-item-5.png" alt="Фото товара" width="140"
                  height="140">
                <h3 class="product-card__text">
                  Чикен бургер
                </h3>
              </a>
              <span class="product-card__price">180 <span class="product__currency">грн.</span></span>
              <button class="button product-card__add" type="button">В корзину</button>
            </article>
          </li>

          <li class="categories__item">
            <article class="categories__product product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__image" src="./images/categories-item-4.png" alt="Фото товара" width="140"
                  height="140">
                <h3 class="product-card__text">
                  Черный гамбургер
                </h3>
              </a>
              <span class="product-card__price">199 <span class="product__currency">грн.</span></span>
              <button class="button product-card__add" type="button">В корзину</button>
            </article>
          </li>

          <li class="categories__item">
            <article class="categories__product product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__image" src="./images/categories-item-5.png" alt="Фото товара" width="140"
                  height="140">
                <h3 class="product-card__text">
                  Чикен бургер
                </h3>
              </a>
              <span class="product-card__price">180 <span class="product__currency">грн.</span></span>
              <button class="button product-card__add" type="button">В корзину</button>
            </article>
          </li>

        </ul>

        <div class="product-catalog__pagination">

          <a class="product-catalog__pagination-arrows" href="#"></a>

          <ul class="product-catalog__pagination-list">

            <li class="product-catalog__pagination-item">
              <a class="product-catalog__pagination-link" href="#">1</a>
            </li>

            <li class="product-catalog__pagination-item">
              <a class="product-catalog__pagination-link" href="#">2</a>
            </li>

            <li class="product-catalog__pagination-item">
              <a class="product-catalog__pagination-link" href="#">...</a>
            </li>

            <li class="product-catalog__pagination-item">
              <a class="product-catalog__pagination-link" href="#">9</a>
            </li>

            <li class="product-catalog__pagination-item">
              <a class="product-catalog__pagination-link" href="#">10</a>
            </li>

          </ul>

          <a class="product-catalog__pagination-arrows" href="#"></a>

        </div>

      </div>

    </div>

  </div>
</section>