<section class="mobile">
  <div class="container">

    <div class="mobile__inner" style="background-image:url(./images/mobile-bg.png);  ">
      <div class="mobile__content">

        <h2 class="title mobile__title">Скачайте мобильное приложение</h2>

        <div class="mobile__text">
          <p>
            Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом
            удобном месте.
          </p>
        </div>

        <ul class="mobile__list">

          <li class="mobile__item">
            <a class="mobile__link" href="#"
              style="background-image: url(./images/store-app-img.png) ; width: 120px; height: 40px;">
              <span class="sr-only">Наше приложение в App Store</span>
            </a>
          </li>

          <li class="mobile__item">
            <a class="mobile__link" href="#"
              style="background-image: url(./images/store-google-play-img.png) ; width: 135px; height: 40px;">
              <span class="sr-only">Наше приложение в Googel Play</span>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>