.categories {
  margin-bottom: 120px;

  @include mq("tablet") {
    margin-bottom: 80px;
  }

  @include mq("phone") {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 60px;
    text-align: center;

    @include mq("phone") {
      margin-bottom: 30px;
    }
  }

  &__sorting {
    display: flex;
    margin-bottom: 25px;
    padding: 2px 2px 20px 2px;
    overflow-x: auto;
    position: relative;

    @include mq("tablet-2") {
      padding-bottom: 2px;
      margin-bottom: 30px;
    }

    &::-webkit-scrollbar {
      height: 20px;

      @include mq("tablet-2") {
        display: none;
      }
    }

    &::-webkit-scrollbar-track {
      box-shadow: 0 0 0 1px $silver-200;
      border-radius: 20px;
      background: $white;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($color: $orange-900, $alpha: 0.1);
      border-radius: 20px;
      border: 3px solid $orange-900;
    }
  }

  &__group:not(:last-child) {
    margin-right: 20px;

    @include mq("phone") {
      margin-right: 10px;
    }
  }

  &__icon {
    width: 44px;
    height: 44px;
    transition: color 0.3s ease-in-out;
    margin-right: 10px;

    @include mq("phone") {
      width: 20px;
      height: 20px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    padding: 13px 32px;
    border-radius: 5px;
    white-space: nowrap;
    background-color: $white;
    box-shadow: 0 0 0 1px $silver-200;
    outline: 2px solid transparent;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, outline 0.3s ease-in-out;

    @include mq("phone") {
      padding: 11px 16px;
      font-size: 14px;
      line-height: 1.3;
    }

    &--active {
      background-color: $orange-900;
      color: $white;
      .categories__icon {
        color: $white;
      }
    }

    &:focus {
      outline: 2px solid rgba($color: $orange-900, $alpha: 0.7);
    }

    &:hover {
      color: $orange-900;
      background-color: rgba($color: $orange-900, $alpha: 0.1);
      outline: 2px solid rgba($color: $orange-900, $alpha: 0.7);

      .categories__icon {
        color: $orange-900;
      }
    }

    &:active {
      color: $darkBlue-900;
      background-color: rgba($color: $orange-900, $alpha: 0.1);
      outline: transparent;
      .categories__icon {
        color: $darkBlue-900;
      }
    }
  }

  &__items {
    display: none;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin-bottom: 60px;
    &--active {
      display: grid;

      @include mq("tablet") {
        grid-row-gap: 15px;
        grid-column-gap: 10px;
        margin-bottom: 30px;
        grid-template-columns: repeat(4, 1fr);
      }

      @include mq("phone") {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__show-more {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    @include mq("phone") {
      font-size: 20px;
    }
  }
}
