.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $silver-100;

  .header-nav {
    @include mq("tablet") {
      display: none;
    }
  }

  &__list {
    display: flex;
    margin: 0 55px 0 auto;
    font-size: 18px;
    line-height: 1.2;
  }

  &__item:not(:last-child) {
    margin-right: 45px;
  }

  &__link {
    transition: color 0.25s ease-in-out, text-shadow 0.1s ease-in-out;

    &--active {
      color: $orange-900;
    }
  }
}
