.swiper-for-mobile {
  overflow: visible;

  @include mq("tablet-2") {
    overflow: hidden;
  }

  &__slide {
    display: flex;
    justify-content: center;
    min-width: 100%;
  }

  &__wrapper {
    box-sizing: inherit;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    transform: translate3d(0);

    @include mq("tablet-2") {
      display: flex;
      grid-column-gap: 0;
      grid-row-gap: 0;
    }
  }
}
