<section class="discounts">
  <div class="container">
    <div class="title discounts__title">Акции и скидки</div>

    <div class="swiper-for-mobile discounts__swiper">

      <div class="swiper-for-mobile__wrapper discounts__wrapper ">

        <div class="swiper-for-mobile__slide">
          <article class="restaurant__card restaurant-card">

            <a class="discounts-card__link" href="#">

              <img class="restaurant-card__image" src="./images/restaurants-image-1.png" alt="Фото ресторанного блюда"
                width="370" height="300">

              <h3 class="restaurant-card__name discounts-card__title">Скидка 50% на вторую пиццу</h3>

            </a>

          </article>

        </div>

        <div class="swiper-for-mobile__slide">
          <article class="restaurant__card restaurant-card">

            <a class="discounts-card__link" href="#">

              <img class="restaurant-card__image" src="./images/restaurants-image-5.png" alt="Фото ресторанного блюда"
                width="370" height="300">

              <h3 class="restaurant-card__name discounts-card__title">Картошечка из KFC даром при заказе бургера</h3>

            </a>

          </article>
        </div>

        <div class="swiper-for-mobile__slide">
          <article class="restaurant__card restaurant-card">

            <a class="discounts-card__link" href="#">

              <img class="restaurant-card__image" src="./images/restaurants-image-6.png" alt="Фото ресторанного блюда"
                width="370" height="300">

              <h3 class="restaurant-card__name discounts-card__title">Чёрные бургеры на чёрный день</h3>

            </a>

          </article>
        </div>

      </div>

      <div class="swipers__pagination"></div>

    </div>


  </div>
</section>